In [75]:
import pandas as pd
import numpy as np
import datetime

In [76]:
data_noticias = pd.read_csv('/Users/ireneadamsjdp/Downloads/dataset.csv')

In [77]:
data_noticias.head()

,url,base_url,authors,title,summary,text,publish_date,top_image_url,keywords,insert_date
0,https://www.hosteltur.com/136793_las-empresas-...,https://www.hosteltur.com/tag/ibex-35,NaN,Las empresas turísticas lideran las subidas de...,Las empresas del sector turístico o vinculadas...,Las empresas del sector turístico o vinculadas...,NaN,https://static.hosteltur.com/app/public/upload...,"lideran, subidas, empresas, turísticas, españo...",2020-10-06 09:00:00
1,https://www.hosteltur.com/139669_only-you-auna...,https://www.hosteltur.com/tag/ibex-35,NaN,Only You aúna espacios de trabajo compartidos ...,"Fruto de ello surge el proyecto YOUniverse, un...","Durante los últimos meses en Only You Hotels, ...",NaN,https://static.hosteltur.com/app/public/upload...,"youniverse, networking, compartidos, trabajo, ...",2020-10-06 09:00:00
2,https://www.hosteltur.com/comunidad/004418_tec...,https://www.hosteltur.com/tag/ibex-35,"Por Pablo Torres Moreno, En Economía, Carmen A...",TechEd en el sector turístico en España,Mucho ha cambiado la sociedad y la forma en qu...,La formación remota o educación a distancia ll...,NaN,https://static.hosteltur.com/app/public/upload...,"turístico, sector, formación, españa, teched",2020-10-06 09:00:00
3,https://www.hosteltur.com/comunidad/nota/02384...,https://www.hosteltur.com/tag/ibex-35,"Por Jone Urrutia, En Hoteles Y Alojamientos, C...",Spring Hoteles ofrece tests rápidos de antígen...,Hay que ser proactivo y tomar decisiones que a...,Hay que ser proactivo y tomar decisiones que a...,NaN,https://static.hosteltur.com/app/public/img/de...,"villarroya, hoteles, antígenos, ofrece, client...",2020-10-06 09:00:00
4,https://www.hosteltur.com/139643_el-salto-del-...,https://www.hosteltur.com/tag/ibex-35,NaN,"El salto del pijama al avión, el desafío de la...","Para el empresario “hay miedo y hay pereza”, p...","Juan Carlos González , Managing Director en BC...",NaN,https://static.hosteltur.com/app/public/upload...,"pijama, desafío, avión, corporativas, agencias...",2020-10-06 09:00:00

In [78]:
data_noticias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97300 entries, 0 to 97299
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   url            97300 non-null  object
 1   base_url       97300 non-null  object
 2   authors        84175 non-null  object
 3   title          97300 non-null  object
 4   summary        96243 non-null  object
 5   text           97300 non-null  object
 6   publish_date   73084 non-null  object
 7   top_image_url  97300 non-null  object
 8   keywords       97297 non-null  object
 9   insert_date    97300 non-null  object
dtypes: object(10)
memory usage: 7.4+ MB

In [79]:
data_noticias['insert_date'].min()

'2020-10-06 09:00:00'

In [80]:
data_noticias['insert_date'].max()

'2021-05-01 00:00:00'

In [81]:
#BBVA ANALYSIS
data_noticias[data_noticias['title'].str.contains('BBVA')]

,url,base_url,authors,title,summary,text,publish_date,top_image_url,keywords,insert_date
66,https://noticiasdebolsa.es/el-hedge-fund-mille...,https://noticiasdebolsa.es/,Actualmente Ceo. De Noticiasdebolsa.Es .Es En ...,El hedge fund Millennium se juega 80 millones ...,GRACIASNoticias de Bolsa – El hedge fund Mille...,\n\n“Nuestra web noticiasdebolsa.es se financi...,2020-09-15 10:27:14,https://i2.wp.com/noticiasdebolsa.es/wp-conten...,"fund, hedge, millennium, millones, corto, juega",2020-10-06 09:00:00
151,https://noticiasdebolsa.es/el-hedge-fund-mille...,https://noticiasdebolsa.es/,Actualmente Ceo. De Noticiasdebolsa.Es .Es En ...,El hedge fund Millennium se juega 80 millones ...,GRACIASNoticias de Bolsa – El hedge fund Mille...,\n\n“Nuestra web noticiasdebolsa.es se financi...,2020-09-15 10:27:14,https://i2.wp.com/noticiasdebolsa.es/wp-conten...,"fund, hedge, millennium, millones, corto, juega",2020-10-06 09:00:00
327,https://www.bolsamania.com/noticias/analisis-t...,https://www.bolsamania.com/indice/IBEX-35/noti...,"Web Financial Group, Jm. Rodríguez, César Vidal",Si hay que lanzarse a la piscina en los título...,La dilataciones en los precios son el pan de c...,La dilataciones en los precios son el pan de c...,NaN,https://img3.s3wfg.com/web/img/images_uploaded...,"plazo, si, lanzarse, piscina, títulos, mínimos",2020-10-07 14:00:00
333,https://www.expansion.com/empresas/banca/2020/...,https://www.expansion.com/mercados/cronica-bol...,Andrés Stumpf,Credit Suisse ve dificultades para una fusión ...,Oficina de BBVA en una calle de Madrid.\nJMCad...,Oficina de BBVA en una calle de Madrid. JMCade...,2020-10-07 02:00:00,https://phantom-expansion.unidadeditorial.es/d...,"ve, fusión, credit, dificultades, bbva, suisse...",2020-10-07 08:00:00
526,https://www.bolsamania.com/noticias/empresas/b...,https://www.bolsamania.com/indice/IBEX-35/noti...,"Web Financial Group, Noemí Jansana","BBVA-Sabadell, entre los escenarios potenciale...",Cada vez son más las casas de análisis que cal...,Cada vez son más las casas de análisis que cal...,NaN,https://img6.s3wfg.com/web/img/images_uploaded...,"fusiones, suisse, europa, credit, potenciales,...",2020-10-07 08:00:00
...,...,...,...,...,...,...,...,...,...,...
96269,http://cincodias.elpais.com/cincodias/2021/04/...,https://cincodias.elpais.com/tag/ibex_35/,Ángeles Gonzalo Alconada,"CaixaBank y BBVA suavizan sus ajustes, pero no...",Aunque es cierto que CaixaBank ha rebajado el ...,Lo que se esperaba. Las reuniones mantenidas a...,2021-04-28 00:00:00,https://d500.epimg.net/cincodias/imagenes/2021...,"convencen, ajustes, bbva, caixabank, sindicato...",2021-04-28 12:00:00
96499,https://www.expansion.com/empresas/banca/2020/...,https://www.expansion.com/mercados/cronica-bol...,Raquel Lander,Los focos siguen puestos sobre Sabadell y BBVA,Sabadell está en una situación bursátil vulner...,Sabadell está en una situación bursátil vulner...,2020-10-06 02:00:00,https://phantom-expansion.unidadeditorial.es/3...,"va, vulnerable, siguen, sabadell, focos, puest...",2020-10-06 09:00:00
96588,https://www.bolsamania.com/fundsnews/noticias/...,https://www.bolsamania.com/indice/IBEX-35/noti...,"Web Financial Group, Act. A La","BBVA-Sabadell y Unicaja-Liberbank, las fusione...",Son las fusiones más probables en el sector ba...,BBVA-Sabadell y Unicaja-Liberbank. Son las fus...,NaN,https://img2.s3wfg.com/web/img/images_uploaded...,"banco, bbvasabadell, fusiones, unicajaliberban...",2020-10-06 09:00:00
96633,https://www.bolsamania.com/noticias/empresas/b...,https://www.bolsamania.com/indice/IBEX-35/noti...,Web Financial Group,Sabadell sigue en la 'pole' para encabezar la ...,A pesar de que de puertas hacia fuera siguen n...,A pesar de que de puertas hacia fuera siguen n...,NaN,https://img6.s3wfg.com/web/img/images_uploaded...,"pole, sabadell, sigue, siguiente, kutxabank, f...",2020-10-06 09:00:00
97240,https://www.estrategiasdeinversion.com/analisi...,https://www.estrategiasdeinversion.com/especia...,José Antonio González,"Análisis Técnico de Solaria, Grifols, BBVA, In...",Exponemos algunas de las preguntas planteadas ...,Exponemos algunas de las preguntas planteadas ...,NaN,https://assets.estrategiasdeinversion.net/appl...,"almirall, sep20, lunes, zona, grifols, análisi...",2020-10-06 09:00:00

In [82]:
BBVA_contains = data_noticias[data_noticias['title'].str.contains('BBVA')]

In [144]:
bbva_nov17 = BBVA_contains[data_noticias['insert_date'].str.contains('2020-11-17')]

<ipython-input-144-6f2d11f4c7fe>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bbva_nov17 = BBVA_contains[data_noticias['insert_date'].str.contains('2020-11-17')]

In [146]:
bbva_nov17.to_csv('bbva_nov17.csv', index=False)

In [148]:
bbva_nov_url = bbva_nov17['url']

In [150]:
bbva_nov_url.to_csv('url_bbva_nov17.csv', index=False)

In [143]:
BBVA_contains.to_csv('noticiasbbva.csv', index=False)

In [160]:
bbva_nov27 = BBVA_contains[data_noticias['insert_date'].str.contains('2020-11-27')]

<ipython-input-160-75d520059a71>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bbva_nov27 = BBVA_contains[data_noticias['insert_date'].str.contains('2020-11-27')]

In [161]:
bbva_nov27_url = bbva_nov27['url']

In [ ]:
bbva_nov27['url']

In [163]:
bbva_nov27_url.to_csv('url_bbva_nov27.csv', index=False)

In [83]:
date = pd.to_datetime(BBVA_contains['insert_date'])
count_BBVA = date.groupby(date.dt.floor('d')).size().reset_index(name='count_BBVA_per_day')
print (count_BBVA)

    insert_date  count_BBVA_per_day
0    2020-10-06                   6
1    2020-10-07                   3
2    2020-10-08                   3
3    2020-10-09                   8
4    2020-10-10                   1
..          ...                 ...
171  2021-04-27                   7
172  2021-04-28                  17
173  2021-04-29                   8
174  2021-04-30                  20
175  2021-05-01                   5

[176 rows x 2 columns]

In [84]:
count_BBVA['count_BBVA_per_day'].sum()

1052

In [85]:
count_BBVA['insert_date1'] = count_BBVA['insert_date'].dt.strftime('%d.%m.%Y')
print (count_BBVA)

    insert_date  count_BBVA_per_day insert_date1
0    2020-10-06                   6   06.10.2020
1    2020-10-07                   3   07.10.2020
2    2020-10-08                   3   08.10.2020
3    2020-10-09                   8   09.10.2020
4    2020-10-10                   1   10.10.2020
..          ...                 ...          ...
171  2021-04-27                   7   27.04.2021
172  2021-04-28                  17   28.04.2021
173  2021-04-29                   8   29.04.2021
174  2021-04-30                  20   30.04.2021
175  2021-05-01                   5   01.05.2021

[176 rows x 3 columns]

In [86]:
count_BBVA.columns = ['insert_date', 'count_BBVA_per_day', 'Fecha']

In [87]:
count_BBVA['insert_date'].max()

Timestamp('2021-05-01 00:00:00')

In [88]:
count_BBVA['insert_date'].min()

Timestamp('2020-10-06 00:00:00')

In [89]:
count_BBVA

    insert_date  count_BBVA_per_day       Fecha
0    2020-10-06                   6  06.10.2020
1    2020-10-07                   3  07.10.2020
2    2020-10-08                   3  08.10.2020
3    2020-10-09                   8  09.10.2020
4    2020-10-10                   1  10.10.2020
..          ...                 ...         ...
171  2021-04-27                   7  27.04.2021
172  2021-04-28                  17  28.04.2021
173  2021-04-29                   8  29.04.2021
174  2021-04-30                  20  30.04.2021
175  2021-05-01                   5  01.05.2021

[176 rows x 3 columns]

In [90]:
BBVA_cotización_data = pd.read_csv('/Users/ireneadamsjdp/Downloads/Datos_históricos_BBVA2.csv')

In [91]:
BBVA_count_and_cotización2 = pd.merge(count_BBVA, BBVA_cotización_data, on="Fecha", how="outer")

In [92]:
BBVA_count_and_cotización2.head()

,insert_date,count_BBVA_per_day,Fecha,Último,Apertura,Máximo,Mínimo,Vol.,% var.
0,2020-10-06,6.0,06.10.2020,"2,477","2,410","2,510","2,384","33,37M","3,04%"
1,2020-10-07,3.0,07.10.2020,"2,413","2,450","2,461","2,404","19,12M","-2,58%"
2,2020-10-08,3.0,08.10.2020,"2,435","2,430","2,473","2,419","16,23M","0,91%"
3,2020-10-09,8.0,09.10.2020,"2,390","2,430","2,451","2,373","18,34M","-1,85%"
4,2020-10-10,1.0,10.10.2020,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
BBVA_count_and_cotización2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185 entries, 0 to 184
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   insert_date         176 non-null    datetime64[ns]
 1   count_BBVA_per_day  176 non-null    float64
 2   Fecha               185 non-null    object
 3   Último              145 non-null    object
 4   Apertura            145 non-null    object
 5   Máximo              145 non-null    object
 6   Mínimo              145 non-null    object
 7   Vol.                145 non-null    object
 8   % var.              145 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 76.8 KB

In [94]:
BBVA_count_and_cotización2['Último2']= BBVA_count_and_cotización2['Último'].ffill(axis = 0)

In [95]:
BBVA_count_and_cotización2

,insert_date,count_BBVA_per_day,Fecha,Último,Apertura,Máximo,Mínimo,Vol.,% var.,Último2
0,2020-10-06,6.0,06.10.2020,"2,477","2,410","2,510","2,384","33,37M","3,04%","2,477"
1,2020-10-07,3.0,07.10.2020,"2,413","2,450","2,461","2,404","19,12M","-2,58%","2,413"
2,2020-10-08,3.0,08.10.2020,"2,435","2,430","2,473","2,419","16,23M","0,91%","2,435"
3,2020-10-09,8.0,09.10.2020,"2,390","2,430","2,451","2,373","18,34M","-1,85%","2,390"
4,2020-10-10,1.0,10.10.2020,NaN,NaN,NaN,NaN,NaN,NaN,"2,390"
...,...,...,...,...,...,...,...,...,...,...
180,NaT,NaN,24.12.2020,"4,100","4,093","4,105","4,060","3,84M","0,47%","4,100"
181,NaT,NaN,23.12.2020,"4,081","3,968","4,095","3,956","29,16M","2,90%","4,081"
182,NaT,NaN,13.11.2020,"3,174","3,050","3,195","3,049","29,84M","2,72%","3,174"
183,NaT,NaN,03.11.2020,"2,631","2,527","2,641","2,510","33,53M","5,28%","2,631"
184,NaT,NaN,12.10.2020,"2,352","2,388","2,399","2,340","14,48M","-1,59%","2,352"

In [96]:
del BBVA_count_and_cotización2['Último']

In [97]:
del BBVA_count_and_cotización2['insert_date']

In [98]:
BBVA_count_and_cotización2

,count_BBVA_per_day,Fecha,Apertura,Máximo,Mínimo,Vol.,% var.,Último2
0,6.0,06.10.2020,"2,410","2,510","2,384","33,37M","3,04%","2,477"
1,3.0,07.10.2020,"2,450","2,461","2,404","19,12M","-2,58%","2,413"
2,3.0,08.10.2020,"2,430","2,473","2,419","16,23M","0,91%","2,435"
3,8.0,09.10.2020,"2,430","2,451","2,373","18,34M","-1,85%","2,390"
4,1.0,10.10.2020,NaN,NaN,NaN,NaN,NaN,"2,390"
...,...,...,...,...,...,...,...,...
180,NaN,24.12.2020,"4,093","4,105","4,060","3,84M","0,47%","4,100"
181,NaN,23.12.2020,"3,968","4,095","3,956","29,16M","2,90%","4,081"
182,NaN,13.11.2020,"3,050","3,195","3,049","29,84M","2,72%","3,174"
183,NaN,03.11.2020,"2,527","2,641","2,510","33,53M","5,28%","2,631"
184,NaN,12.10.2020,"2,388","2,399","2,340","14,48M","-1,59%","2,352"

In [99]:
 BBVA_count_and_cotización2.to_csv('BBVA-datos-tratados.csv', index=False)

In [100]:
del BBVA_count_and_cotización2['Apertura']
del BBVA_count_and_cotización2['Máximo']
del BBVA_count_and_cotización2['Mínimo']
del BBVA_count_and_cotización2['Vol.']
del BBVA_count_and_cotización2['% var.']

In [101]:
BBVA_count_and_cotización2

     count_BBVA_per_day       Fecha Último2
0                   6.0  06.10.2020   2,477
1                   3.0  07.10.2020   2,413
2                   3.0  08.10.2020   2,435
3                   8.0  09.10.2020   2,390
4                   1.0  10.10.2020   2,390
..                  ...         ...     ...
180                 NaN  24.12.2020   4,100
181                 NaN  23.12.2020   4,081
182                 NaN  13.11.2020   3,174
183                 NaN  03.11.2020   2,631
184                 NaN  12.10.2020   2,352

[185 rows x 3 columns]

In [102]:
BBVA_count_and_cotización2.columns = ["count_BBVA_per_day", "Fecha", "cotización_BBVA"]

In [103]:
# BANKINTER ANALYSIS 
Bankinter_contains = data_noticias[data_noticias['title'].str.contains('Bankinter')]

In [104]:
Bankinter_contains

,url,base_url,authors,title,summary,text,publish_date,top_image_url,keywords,insert_date
1015,https://www.expansion.com/empresas/banca/2020/...,https://www.expansion.com/mercados/cronica-bol...,NaN,Bankinter lanza una nueva estrategia comercial...,EXPANSIONBankinter ha anunciado una nueva estr...,"María Dolores Dancausa, consejera delegada de ...",2020-10-07 02:00:00,https://phantom-expansion.unidadeditorial.es/1...,"financiera, clientes, nueva, familia, bankinte...",2020-10-07 14:00:00
1038,https://www.estrategiasdeinversion.com/analisi...,https://www.estrategiasdeinversion.com/especia...,Ramón Bermejo,Bankinter: hch invertido para confiar en nueva...,"En el análisis de las 13.00 horas, hemos señal...","En el análisis de las 13.00 horas, hemos señal...",NaN,https://assets.estrategiasdeinversion.net/imag...,"sesión, nuevas, invertido, bankinter, precio, ...",2020-10-07 08:00:00
1557,https://www.estrategiasdeinversion.com/analisi...,https://www.estrategiasdeinversion.com/especia...,Pablo Gallén,"Barclays rebaja el precio objetivo de BBVA, Sa...",Barclays estima que 2021 será el año en el que...,El banco se mantiene alcista en la industria d...,NaN,https://assets.estrategiasdeinversion.net/uplo...,"barclays, santander, euros, objetivo, potencia...",2020-10-09 14:00:00
1660,https://www.expansion.com/mercados/2020/10/08/...,https://www.expansion.com/mercados/cronica-bol...,José Antonio Fernández-Hódar,"Los Charts de Hódar: Acciona, Bankinter y Tele...",Bolas de Madrid.\nEFEAcciona abrió este jueves...,Bolas de Madrid. EFE\n\nAcciona abrió este jue...,2020-10-08 02:00:00,https://phantom-expansion.unidadeditorial.es/7...,"salto, volumen, bankinter, subió, hódar, sesió...",2020-10-09 02:00:00
1798,https://www.expansion.com/mercados/2020/10/08/...,https://www.expansion.com/mercados/cronica-bol...,José Antonio Fernández-Hódar,"Los Charts de Hódar: Acciona, Bankinter y Tele...",Bolas de Madrid.\nEFEAcciona abrió este jueves...,Bolas de Madrid. EFE\n\nAcciona abrió este jue...,2020-10-08 02:00:00,https://phantom-expansion.unidadeditorial.es/7...,"hódar, euros, ganando, acciona, subió, sesión,...",2020-10-09 14:00:00
...,...,...,...,...,...,...,...,...,...,...
93943,https://www.expansion.com/empresas/transporte/...,https://www.expansion.com/mercados/cronica-bol...,"Arturo De Lucas, Beatriz Treceño","Zity, el 'carsharing' de Renault y Ferrovial, ...",Arturo de Lucas EXPANSIONLos 388.000 usuarios ...,Arturo de Lucas EXPANSION\n\nLos 388.000 usuar...,2021-04-17 00:00:00,https://phantom-expansion.unidadeditorial.es/5...,"ofrecer, zity, crédito, compartido, financiero...",2021-04-17 00:00:00
94955,https://www.bolsamania.com/noticias/empresas/b...,https://www.bolsamania.com/indice/IBEX-35/noti...,"Web Financial Group, César Vidal",Bankinter cae en bolsa: KBW recorta su valorac...,"La firma Keefe, Bruyette & Woods (KBW) ha reco...","La firma Keefe, Bruyette & Woods (KBW) ha reco...",NaN,https://img.s3wfg.com/web/img/images_uploaded/...,"euros, bolsa, recorta, cae, valoración, kbw",2021-04-26 12:00:00
95143,https://www.bolsamania.com/fundsnews/noticias/...,https://www.bolsamania.com/indice/IBEX-35/noti...,"Web Financial Group, Act. A Las",Azvalor compra Grifols y hace caja con Arcelor...,"Así, el equipo liderado por Fernando Bernad y ...",La gestora Azvalor Asset Management ha realiza...,NaN,https://img4.s3wfg.com/web/img/images_uploaded...,"caja, arcelor, hace, bankinter, grifols, compr...",2021-04-27 00:00:00
95724,https://www.expansion.com/mercados/2021/04/27/...,https://www.expansion.com/mercados/cronica-bol...,José Antonio Fernández Hódar,"Los Charts de Hódar: Santander, BBVA y Bankinter",Bolsa de Madrid.\nEFESantander cerró este mart...,Bolsa de Madrid. EFE\n\nSantander cerró este m...,2021-04-27 00:00:00,https://phantom-expansion.unidadeditorial.es/2...,"máximo, bankinter, bbva, subir, situándose, ga...",2021-04-28 00:00:00
96493,https://www.expansion.com/ahorro/pensiones/202...,https://www.expansion.com/mercados/cronica-bol...,Europa Press,Bankinter abonará hasta un 4% en efectivo por ...,JMCadenas EXPANSIONTambién premiará la recurre...,Sucursal de Bankinter. JMCadenas EXPANSION\n\n...,2020-10-05 02:00:00,https://phantom-expansion.unidadeditorial.es/2...,"abonará, efectivo, traspasos, bonificación, pe...",2020-10-06 09:00:00

In [168]:
bankinter_ene21 = Bankinter_contains[data_noticias['insert_date'].str.contains('2021-01-21')]

<ipython-input-168-d0288e59d10c>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bankinter_ene21 = Bankinter_contains[data_noticias['insert_date'].str.contains('2021-01-21')]

In [169]:
bankinter_ene21 = bankinter_ene21['url']

In [170]:
bankinter_ene21.to_csv('url_bankinter_ene21.csv', index=False)

In [171]:
bankinter_oct22 = Bankinter_contains[data_noticias['insert_date'].str.contains('2020-10-22')]

<ipython-input-171-b41e13fd9b0c>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bankinter_oct22 = Bankinter_contains[data_noticias['insert_date'].str.contains('2020-10-22')]

In [172]:
bankinter_oct22 = bankinter_oct22['url']

In [173]:
bankinter_oct22.to_csv('url_bankinter_oct22.csv', index=False)

In [178]:
bankinter_marz23 = Bankinter_contains[data_noticias['insert_date'].str.contains('2021-03-23')]

<ipython-input-178-fd2500bc3dc0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bankinter_marz23 = Bankinter_contains[data_noticias['insert_date'].str.contains('2021-03-23')]

In [179]:
bankinter_marz23 = bankinter_marz23['url']

In [180]:
bankinter_marz23.to_csv('url_bankinter_marz23.csv', index=False)

In [174]:
bankinter_avri22 = Bankinter_contains[data_noticias['insert_date'].str.contains('2021-04-22')]

<ipython-input-174-678ace689863>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bankinter_avri22 = Bankinter_contains[data_noticias['insert_date'].str.contains('2021-04-22')]

In [175]:
bankinter_avri22 = bankinter_avri22['url']

In [176]:
bankinter_avri22.to_csv('url_bankinter_avri22.csv', index=False)

In [105]:
date_bankinter = pd.to_datetime(Bankinter_contains['insert_date'])
count_bankinter_day = date_bankinter.groupby(date_bankinter.dt.floor('d')).size().reset_index(name='count_Bankinter')
print (count_bankinter_day)

    insert_date  count_Bankinter
0    2020-10-06                1
1    2020-10-07                2
2    2020-10-09                3
3    2020-10-11                1
4    2020-10-12                1
..          ...              ...
107  2021-04-24                2
108  2021-04-26                1
109  2021-04-27                1
110  2021-04-28                1
111  2021-04-29                2

[112 rows x 2 columns]

In [106]:
count_bankinter_day['insert_date1'] = count_bankinter_day['insert_date'].dt.strftime('%d.%m.%Y')
print (count_bankinter_day)

    insert_date  count_Bankinter insert_date1
0    2020-10-06                1   06.10.2020
1    2020-10-07                2   07.10.2020
2    2020-10-09                3   09.10.2020
3    2020-10-11                1   11.10.2020
4    2020-10-12                1   12.10.2020
..          ...              ...          ...
107  2021-04-24                2   24.04.2021
108  2021-04-26                1   26.04.2021
109  2021-04-27                1   27.04.2021
110  2021-04-28                1   28.04.2021
111  2021-04-29                2   29.04.2021

[112 rows x 3 columns]

In [107]:
count_bankinter_day.columns = ['insert_date', 'count_Bankinter', 'Fecha']

In [108]:
Bankinter_cotización_data = pd.read_csv('/Users/ireneadamsjdp/Downloads/Datos_históricos_Bankinter.csv')

In [109]:
Bankinter_cotización_data

          Fecha Último Apertura Máximo Mínimo    Vol.   % var.
0    30.04.2021  4,557    4,599  4,646  4,557       -   -0,22%
1    29.04.2021  4,567    4,582  4,699  4,510  12,16M  -23,32%
2    28.04.2021  5,956    5,880  6,026  5,830   4,52M    2,16%
3    27.04.2021  5,830    5,766  5,852  5,730   5,78M    1,11%
4    26.04.2021  5,766    5,610  5,782  5,474   5,68M    2,71%
..          ...    ...      ...    ...    ...     ...      ...
140  12.10.2020  3,632    3,675  3,734  3,579   2,48M   -1,52%
141  09.10.2020  3,688    3,834  3,834  3,659   3,43M   -3,43%
142  08.10.2020  3,819    3,738  3,836  3,727   2,31M    3,13%
143  07.10.2020  3,703    3,759  3,789  3,692   2,20M   -2,19%
144  06.10.2020  3,786    3,623  3,786  3,585   2,83M    4,18%

[145 rows x 7 columns]

In [110]:
del Bankinter_cotización_data['Apertura']
del Bankinter_cotización_data['Máximo']
del Bankinter_cotización_data['Mínimo']
del Bankinter_cotización_data['Vol.']
del Bankinter_cotización_data['% var.']

In [111]:
Bankinter_count_and_cotización = pd.merge(count_bankinter_day, Bankinter_cotización_data, on="Fecha", how="outer")

In [112]:
Bankinter_count_and_cotización

    insert_date  count_Bankinter       Fecha Último
0    2020-10-06              1.0  06.10.2020  3,786
1    2020-10-07              2.0  07.10.2020  3,703
2    2020-10-09              3.0  09.10.2020  3,688
3    2020-10-11              1.0  11.10.2020    NaN
4    2020-10-12              1.0  12.10.2020  3,632
..          ...              ...         ...    ...
159         NaT              NaN  04.11.2020  3,283
160         NaT              NaN  30.10.2020  3,217
161         NaT              NaN  29.10.2020  3,164
162         NaT              NaN  26.10.2020  3,481
163         NaT              NaN  08.10.2020  3,819

[164 rows x 4 columns]

In [113]:
del Bankinter_count_and_cotización['insert_date']

In [114]:
Bankinter_count_and_cotización.columns = ['count_Bankinter', 'Fecha', 'Cotización_Bankinter']

In [115]:
BBVA_Bankinter_count_and_cotización = pd.merge(BBVA_count_and_cotización2, Bankinter_count_and_cotización, on="Fecha", how="outer")

In [116]:
BBVA_Bankinter_count_and_cotización

,count_BBVA_per_day,Fecha,cotización_BBVA,count_Bankinter,Cotización_Bankinter
0,6.0,06.10.2020,"2,477",1.0,"3,786"
1,3.0,07.10.2020,"2,413",2.0,"3,703"
2,3.0,08.10.2020,"2,435",NaN,"3,819"
3,8.0,09.10.2020,"2,390",3.0,"3,688"
4,1.0,10.10.2020,"2,390",NaN,NaN
...,...,...,...,...,...
186,NaN,19.12.2020,NaN,4.0,NaN
187,NaN,31.01.2021,NaN,1.0,NaN
188,NaN,06.02.2021,NaN,2.0,NaN
189,NaN,02.04.2021,NaN,1.0,NaN
190,NaN,04.04.2021,NaN,2.0,NaN

In [117]:
BBVA_Bankinter_count_and_cotización['Cotización_Bankinter']= BBVA_Bankinter_count_and_cotización['Cotización_Bankinter'].ffill(axis = 0)

In [118]:
BBVA_Bankinter_count_and_cotización

,count_BBVA_per_day,Fecha,cotización_BBVA,count_Bankinter,Cotización_Bankinter
0,6.0,06.10.2020,"2,477",1.0,"3,786"
1,3.0,07.10.2020,"2,413",2.0,"3,703"
2,3.0,08.10.2020,"2,435",NaN,"3,819"
3,8.0,09.10.2020,"2,390",3.0,"3,688"
4,1.0,10.10.2020,"2,390",NaN,"3,688"
...,...,...,...,...,...
186,NaN,19.12.2020,NaN,4.0,"3,632"
187,NaN,31.01.2021,NaN,1.0,"3,632"
188,NaN,06.02.2021,NaN,2.0,"3,632"
189,NaN,02.04.2021,NaN,1.0,"3,632"
190,NaN,04.04.2021,NaN,2.0,"3,632"

In [190]:
#CAIXABANK ANALYSIS 
Caixabank_contains = data_noticias[data_noticias['title'].str.contains('CaixaBank')]

In [192]:
date_caixabank = pd.to_datetime(Caixabank_contains['insert_date'])
count_Caixabank_day = date_caixabank.groupby(date_caixabank.dt.floor('d')).size().reset_index(name='count_Caixabank')
print (count_Caixabank_day)

    insert_date  count_Caixabank
0    2020-10-06                5
1    2020-10-08                1
2    2020-10-09                4
3    2020-10-10                2
4    2020-10-13                2
..          ...              ...
141  2021-04-27               13
142  2021-04-28               10
143  2021-04-29                6
144  2021-04-30                3
145  2021-05-01                1

[146 rows x 2 columns]

In [218]:
caixabank_ene29 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-01-29')]

<ipython-input-218-8112d1d543a1>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  caixabank_ene29 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-01-29')]

In [219]:
caixabank_ene29 = caixabank_ene29['url']

In [220]:
caixabank_ene29.to_csv('url_caixabank_ene29.csv', index=False)

In [227]:
caixabank_oct30 = Caixabank_contains[data_noticias['insert_date'].str.contains('2020-10-30')]

<ipython-input-227-2de84aad168e>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  caixabank_oct30 = Caixabank_contains[data_noticias['insert_date'].str.contains('2020-10-30')]

In [228]:
caixabank_oct30 = caixabank_oct30['url']

In [229]:
caixabank_oct30.to_csv('url_caixabank_oct30.csv', index=False)

In [230]:
caixabank_marz27 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-03-27')]

<ipython-input-230-8acd8cb6a647>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  caixabank_marz27 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-03-27')]

In [231]:
caixabank_marz27 = caixabank_marz27['url']

In [232]:
caixabank_marz27.to_csv('url_caixabank_marz27.csv', index=False)

In [233]:
caixabank_marz29 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-03-29')]

<ipython-input-233-1cae5902b11b>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  caixabank_marz29 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-03-29')]

In [234]:
caixabank_marz29 = caixabank_marz29['url']

In [235]:
caixabank_marz29.to_csv('url_caixabank_marz29.csv', index=False)

In [236]:
caixabank_abr21 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-04-21')]

<ipython-input-236-0a8dff4218b9>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  caixabank_abr21 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-04-21')]

In [237]:
caixabank_abr21 = caixabank_abr21['url']

In [238]:
caixabank_abr21.to_csv('url_caixabank_abr21.csv', index=False)

In [239]:
caixabank_abr27 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-04-27')]

<ipython-input-239-7acc6c93e5f5>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  caixabank_abr27 = Caixabank_contains[data_noticias['insert_date'].str.contains('2021-04-27')]

In [240]:
caixabank_abr27 = caixabank_abr27['url']

In [241]:
caixabank_abr27.to_csv('url_caixabank_abr27.csv', index=False)

In [196]:
count_Caixabank_day['insert_date1'] = count_Caixabank_day['insert_date'].dt.strftime('%d.%m.%Y')
print (count_Caixabank_day)

    insert_date  count_Caixabank insert_date1
0    2020-10-06                5   06.10.2020
1    2020-10-08                1   08.10.2020
2    2020-10-09                4   09.10.2020
3    2020-10-10                2   10.10.2020
4    2020-10-13                2   13.10.2020
..          ...              ...          ...
141  2021-04-27               13   27.04.2021
142  2021-04-28               10   28.04.2021
143  2021-04-29                6   29.04.2021
144  2021-04-30                3   30.04.2021
145  2021-05-01                1   01.05.2021

[146 rows x 3 columns]

In [197]:
count_Caixabank_day.columns = ['insert_date', 'count_Caixabank', 'Fecha']

In [198]:
Caixabank_cotización_data = pd.read_csv('/Users/ireneadamsjdp/Downloads/Datos_históricos_Caixabank.csv')

In [199]:
Caixabank_cotización_data

          Fecha Último Apertura Máximo Mínimo    Vol.  % var.
0    30.04.2021  2,670    2,655  2,685  2,640       -   0,49%
1    29.04.2021  2,657    2,629  2,686  2,603  15,70M   1,53%
2    28.04.2021  2,617    2,620  2,643  2,577  11,81M   0,42%
3    27.04.2021  2,606    2,560  2,617  2,527  11,77M   2,32%
4    26.04.2021  2,547    2,500  2,553  2,467  18,93M   2,08%
..          ...    ...      ...    ...    ...     ...     ...
140  12.10.2020  1,708    1,745  1,751  1,697  10,65M  -2,26%
141  09.10.2020  1,747    1,793  1,799  1,740  10,90M  -2,16%
142  08.10.2020  1,786    1,765  1,803  1,756   8,52M   1,82%
143  07.10.2020  1,754    1,762  1,791  1,747  11,01M  -1,32%
144  06.10.2020  1,778    1,723  1,804  1,704  14,53M   3,58%

[145 rows x 7 columns]

In [200]:
del Caixabank_cotización_data['Apertura']
del Caixabank_cotización_data['Máximo']
del Caixabank_cotización_data['Mínimo']
del Caixabank_cotización_data['Vol.']
del Caixabank_cotización_data['% var.']

In [201]:
Caixabank_count_and_cotización = pd.merge(count_Caixabank_day, Caixabank_cotización_data, on="Fecha", how="outer")

In [202]:
Caixabank_count_and_cotización

    insert_date  count_Caixabank       Fecha Último
0    2020-10-06              5.0  06.10.2020  1,778
1    2020-10-08              1.0  08.10.2020  1,786
2    2020-10-09              4.0  09.10.2020  1,747
3    2020-10-10              2.0  10.10.2020    NaN
4    2020-10-13              2.0  13.10.2020  1,625
..          ...              ...         ...    ...
170         NaT              NaN  04.11.2020  1,592
171         NaT              NaN  16.10.2020  1,674
172         NaT              NaN  15.10.2020  1,664
173         NaT              NaN  12.10.2020  1,708
174         NaT              NaN  07.10.2020  1,754

[175 rows x 4 columns]

In [203]:
del Caixabank_count_and_cotización['insert_date']

In [204]:
Caixabank_count_and_cotización.columns = ['count_Caixabank', 'Fecha', 'Cotización_Caixabank']

In [205]:
BBVA_Bankinter_Caixabank_count_and_cotización = pd.merge(BBVA_Bankinter_count_and_cotización, Caixabank_count_and_cotización, on="Fecha", how="outer")

In [206]:
BBVA_Bankinter_Caixabank_count_and_cotización

,count_BBVA_per_day,Fecha,cotización_BBVA,count_Bankinter,Cotización_Bankinter,count_Caixabank,Cotización_Caixabank
0,6.0,06.10.2020,"2,477",1.0,"3,786",5.0,"1,778"
1,3.0,07.10.2020,"2,413",2.0,"3,703",NaN,"1,754"
2,3.0,08.10.2020,"2,435",NaN,"3,819",1.0,"1,786"
3,8.0,09.10.2020,"2,390",3.0,"3,688",4.0,"1,747"
4,1.0,10.10.2020,"2,390",NaN,"3,688",2.0,NaN
...,...,...,...,...,...,...,...
193,NaN,25.12.2020,NaN,NaN,NaN,2.0,NaN
194,NaN,06.03.2021,NaN,NaN,NaN,1.0,NaN
195,NaN,20.03.2021,NaN,NaN,NaN,1.0,NaN
196,NaN,27.03.2021,NaN,NaN,NaN,20.0,NaN
197,NaN,03.04.2021,NaN,NaN,NaN,1.0,NaN

In [207]:
BBVA_Bankinter_Caixabank_count_and_cotización['Cotización_Caixabank']= BBVA_Bankinter_Caixabank_count_and_cotización['Cotización_Caixabank'].ffill(axis = 0)

In [208]:
BBVA_Bankinter_Caixabank_count_and_cotización

,count_BBVA_per_day,Fecha,cotización_BBVA,count_Bankinter,Cotización_Bankinter,count_Caixabank,Cotización_Caixabank
0,6.0,06.10.2020,"2,477",1.0,"3,786",5.0,"1,778"
1,3.0,07.10.2020,"2,413",2.0,"3,703",NaN,"1,754"
2,3.0,08.10.2020,"2,435",NaN,"3,819",1.0,"1,786"
3,8.0,09.10.2020,"2,390",3.0,"3,688",4.0,"1,747"
4,1.0,10.10.2020,"2,390",NaN,"3,688",2.0,"1,747"
...,...,...,...,...,...,...,...
193,NaN,25.12.2020,NaN,NaN,NaN,2.0,"1,708"
194,NaN,06.03.2021,NaN,NaN,NaN,1.0,"1,708"
195,NaN,20.03.2021,NaN,NaN,NaN,1.0,"1,708"
196,NaN,27.03.2021,NaN,NaN,NaN,20.0,"1,708"
197,NaN,03.04.2021,NaN,NaN,NaN,1.0,"1,708"

In [209]:
BBVA_Bankinter_Caixabank_count_and_cotización['count_BBVA_per_day'] = BBVA_Bankinter_Caixabank_count_and_cotización['count_BBVA_per_day'].fillna(0)

In [210]:
BBVA_Bankinter_Caixabank_count_and_cotización['count_Bankinter'] = BBVA_Bankinter_Caixabank_count_and_cotización['count_Bankinter'].fillna(0)

In [211]:
BBVA_Bankinter_Caixabank_count_and_cotización['count_Caixabank'] = BBVA_Bankinter_Caixabank_count_and_cotización['count_Caixabank'].fillna(0)

In [212]:
BBVA_Bankinter_Caixabank_count_and_cotización

,count_BBVA_per_day,Fecha,cotización_BBVA,count_Bankinter,Cotización_Bankinter,count_Caixabank,Cotización_Caixabank
0,6.0,06.10.2020,"2,477",1.0,"3,786",5.0,"1,778"
1,3.0,07.10.2020,"2,413",2.0,"3,703",0.0,"1,754"
2,3.0,08.10.2020,"2,435",0.0,"3,819",1.0,"1,786"
3,8.0,09.10.2020,"2,390",3.0,"3,688",4.0,"1,747"
4,1.0,10.10.2020,"2,390",0.0,"3,688",2.0,"1,747"
...,...,...,...,...,...,...,...
193,0.0,25.12.2020,NaN,0.0,NaN,2.0,"1,708"
194,0.0,06.03.2021,NaN,0.0,NaN,1.0,"1,708"
195,0.0,20.03.2021,NaN,0.0,NaN,1.0,"1,708"
196,0.0,27.03.2021,NaN,0.0,NaN,20.0,"1,708"
197,0.0,03.04.2021,NaN,0.0,NaN,1.0,"1,708"

In [213]:
first_col = BBVA_Bankinter_Caixabank_count_and_cotización.pop('Fecha')

In [214]:
BBVA_Bankinter_Caixabank_count_and_cotización

,count_BBVA_per_day,cotización_BBVA,count_Bankinter,Cotización_Bankinter,count_Caixabank,Cotización_Caixabank
0,6.0,"2,477",1.0,"3,786",5.0,"1,778"
1,3.0,"2,413",2.0,"3,703",0.0,"1,754"
2,3.0,"2,435",0.0,"3,819",1.0,"1,786"
3,8.0,"2,390",3.0,"3,688",4.0,"1,747"
4,1.0,"2,390",0.0,"3,688",2.0,"1,747"
...,...,...,...,...,...,...
193,0.0,NaN,0.0,NaN,2.0,"1,708"
194,0.0,NaN,0.0,NaN,1.0,"1,708"
195,0.0,NaN,0.0,NaN,1.0,"1,708"
196,0.0,NaN,0.0,NaN,20.0,"1,708"
197,0.0,NaN,0.0,NaN,1.0,"1,708"

In [215]:
BBVA_Bankinter_Caixabank_count_and_cotización.insert(0, 'Fecha', first_col)

In [216]:
BBVA_Bankinter_Caixabank_count_and_cotización

,Fecha,count_BBVA_per_day,cotización_BBVA,count_Bankinter,Cotización_Bankinter,count_Caixabank,Cotización_Caixabank
0,06.10.2020,6.0,"2,477",1.0,"3,786",5.0,"1,778"
1,07.10.2020,3.0,"2,413",2.0,"3,703",0.0,"1,754"
2,08.10.2020,3.0,"2,435",0.0,"3,819",1.0,"1,786"
3,09.10.2020,8.0,"2,390",3.0,"3,688",4.0,"1,747"
4,10.10.2020,1.0,"2,390",0.0,"3,688",2.0,"1,747"
...,...,...,...,...,...,...,...
193,25.12.2020,0.0,NaN,0.0,NaN,2.0,"1,708"
194,06.03.2021,0.0,NaN,0.0,NaN,1.0,"1,708"
195,20.03.2021,0.0,NaN,0.0,NaN,1.0,"1,708"
196,27.03.2021,0.0,NaN,0.0,NaN,20.0,"1,708"
197,03.04.2021,0.0,NaN,0.0,NaN,1.0,"1,708"

In [217]:
BBVA_Bankinter_Caixabank_count_and_cotización.to_csv('3banks.csv', index=False)